@{
    ViewBag.Title = "Login";
}
<h3 class="logo" >Login</h3>
<form>
    <div id="form-group">
        <input type="text" name="username" id="username" class="inp" autocomplete="off" required />
        <label for="username" id="user" class="lbl" >Username</label>
    </div>
    <div id="form-group">
        <input type="password" name="password" id="password" class="inp" autocomplete="off" required />
        <label for="password" id="pwd" class="lbl" >Password</label>
    </div>
    <div id="form-btn">
        <a href="/Home/Register">Not have an acount yet?</a>
        <button style="margin-left: 10px;" class="btn btn-default">Login</button>
    </div>
        
</form>
