
@{
    ViewBag.Title = "Register";
}

<h3 class="logo">Register</h3>
<form>
    <div id="form-group">
        <input type="text" name="username" id="username" class="inp" autocomplete="off" required />
        <label for="username" id="user" class="lbl">Username</label>
    </div>
    <div id="form-group">
        <input type="text" name="gender" id="gender" class="inp" autocomplete="off" required />
        <label for="gender" id="gdr" class="lbl">Gender</label>
    </div>
    <div id="form-group">
        <input type="text" name="birthdate" id="birthdate" class="inp" autocomplete="off" required />
        <label for="birthdate" id="dob" class="lbl">Date of Birth</label>
    </div>
    <div id="form-group">
        <input type="text" name="email" id="email" class="inp" autocomplete="off" required />
        <label for="email" id="eml" class="lbl">Email</label>
    </div>
    <div id="form-group">
        <input type="password" name="password" id="password" class="inp" autocomplete="off" required />
        <label for="password" id="pwd" class="lbl">Password</label>
    </div>
    <div id="form-group">
        <input type="password" name="cpassword" id="cpassword" class="inp" autocomplete="off" required />
        <label for="cpassword" id="cpwd" class="lbl">Confirm Password</label>
    </div>
    <div id="form-btn">
        <a href="/">Already have an acount?</a>
        <button style="margin-left: 10px;" class="btn btn-default">Sign Up</button>
    </div>

</form>

