* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

#content {
    width: 30%;
    overflow: hidden;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

#form-group {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: end;
}

#form-btn {
    position: relative;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 35px;
}

.lbl {
    position: absolute;
    left: 5px;
    bottom: 0;
    font-weight: 500;
    transition: 0.3s ease;
    color: #333;
}

.inp {
    width: 100%;
    height: 30px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 5px
}

.inp:focus + .lbl, .inp:valid + .lbl {
    left: 0;
    bottom: 90%;
    font-size: 11px;
}

.inp:focus, .inp:valid {
    border: 1px solid #777;
}

button {
    background: none !important;
    outline: none !important;
}


